/**
 * @file Main site theme
 * @author Tom Jenkins tom@itsravenous.com
 */

/**
 * Base styles
 */
body {
	font-family: 'Merriweather', serif;
	line-height: 1.5;
	color: #303030;
	max-width: 60rem;
	margin: 3rem auto 0 auto;
}
img {
	max-width: 100%;
}
a {
	color: #0fa900;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s;
}
a:focus,
a:hover {
	color: #62CC0C;
}

/**
 * ID
 */
.logo {
	width: 16rem;
}

/**
 * Masthead
 */
.main-header {
	text-align: center;
	margin-bottom: 3rem;
}

/**
 * Content area
 */
.main-content {
	font-size: 1.25rem;
	margin-bottom: 3rem;
}

/**
 * Footer/logos
 */
.main-footer {
	text-align: justify;
}
.main-footer:after {
	content: '';
    display: inline-block;
    width: 100%;
}
.main-footer img {
	max-height: 10rem;
	vertical-align: middle;
	margin-bottom: 2rem;
}

/**
 * Layout adjustments
 */
@media screen and (max-height: 48rem) {
	body {
		margin-top: 2rem;
	}
	.main-header,
	.main-content {
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 60rem) {
	body {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 30rem) {
	.main-footer {
		text-align: center;
	}
	.main-footer img {
		max-width: 15rem;
		max-height: 7.5rem;
	}
}